@font-face{
    font-family: 'BMA';
    src: url('assets/bm_space/BMSPA___.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'BMA',sans-serif;
    background-color: #303030;
    color:white;
    margin:0px;
    padding:0px;
    min-width: 500px
}

section{
    border: 1px solid black;
    min-height: 200px;
}

header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    font-size:200%;
    height: 100px;
    
}

/* nav y botones */
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    background-color: #1269cc;
   
}
.boton{
    color: white;
    margin:10px;
    text-decoration: none;
}
.boton a{
    color:white;
}
.boton:hover{
    color: #303030;
}

/* Foto y texto */
#presentacion{
    display: flex;
    flex-direction: row;
    min-height: 500px;
}
#foto{
    text-shadow: 2px 2px 2px black;
    padding: 1%;
    display: flex;
    background-image: url("assets/persona3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}
#texto{
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.2;
    margin-top: 10px;
    margin-left: 10px;
    width:50%;
}

/* seccion portfolio */

#portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    

}
.foto{
    padding:20px;
    max-width: 300px;
    transition: 600ms;

}

img:hover{
    transform: scale(1.1);
}

/* seccion formulario */
#contacto{
    background-color: #1269cc;
}
form {
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}
.columna{  
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

}

#form1, #form2{
    display: flex;
    height: 100px;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    max-width: 300px;
    max-height: 100px;
    margin-top: 10px;
    justify-content: center;
}

#form1 > input{
    margin-bottom: 10px;
}

#form3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    min-width: 300px;
    max-width: 300px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* pie de pagina */

footer{
    background-color: #303030;
    position: sticky;
    left: 0;
    bottom: 0;
    font-size: small;
    display: flex;
    width: 100%;
    height: 50px;
}

#copy{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 100%;
}
#social{
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

#social > a > img {
    height: 30px;
    margin:10px
}